main {
  .discordbutton {
    margin-top: 5.625em; /* 90px / 16px */
    width: 20em; /* 320px / 16px */
    height: 6.25em; /* 100px / 16px */
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.875em; /* 14px / 16px */

    text-decoration: none;
    border-radius: 9999px;
    box-shadow: 0.125em 0.1875em 0.625em 0.0625em rgba(0, 0, 0, 0.527); /* 2px 3px 10px 1px */

    background-color: #50760f;

    img {
      width: 4.6875em; /* 75px / 16px */
    }
    h2 {
      font: var(--txt-link);
      text-transform: uppercase;
      color: whitesmoke;
    }
  }

  .discordbutton:hover {
    background-color: #374d12;
    text-shadow: 0 0 0.625em rgba(255, 202, 57, 0.5); /* 10px / 16px */
    transition: text-shadow 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
  }
}

section {
  margin-block: 5.625em 4.125em; /* 90px 66px / 16px */

  display: flex;
  justify-content: center;
  gap: 1.25em; /* 20px / 16px */
}

.divlinks {
  padding: 0.875em; /* 14px / 16px */
  background-color: #50760f;
  border-radius: 9999px;
  box-shadow: 0.125em 0.1875em 0.625em 0.0625em rgba(0, 0, 0, 0.527); /* 2px 3px 10px 1px */
}

.divlinks:hover {
  text-shadow: 0 0 0.625em rgba(255, 202, 57, 0.5); /* 10px / 16px */
  background-color: #2a3a0d;
  transition: text-shadow 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
